<!--Navbar-->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
        <div class="col col-md-2">
            <img class="img-nav" src="{%static 'dojo_book_app/img/libros.jpg' %}" alt="Libros">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col col-4">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="col ">
                    <div class="navbar-nav row-sm-4 mb-5">
                        <a class="nav-link" href="{%url 'book' %}">Home</a>
                        <a class="nav-link" href="{%url 'logout' %}">Salir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
